#board {
  font-weight: bold;
  position: absolute;
}

tr, td {
    border: 0.1vw solid black;
    border-collapse: collapse;
}

table, th {border-collapse: collapse;}

.square {background-color:white}
.edge {border:0px solid transparent;}

.square img {
  max-height: 95%;
  max-width: 95%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: cell;
}
