#board {
  font-weight: bold;
  position: absolute;
}

tr, td {
    border: 0.1vw solid black;
    border-collapse: collapse;
}

table, th {border-collapse: collapse;}

.square {
  background-color:white;
  text-align:center;
  font-size: smaller;
  position: relative;
}
.edge {border:0px solid transparent;}

.square img {
  max-height: 95%;
  max-width: 95%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: cell;
}

.cross {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  background-image: linear-gradient(
    to bottom right,
    transparent calc(50% - 2px),
    black,
    transparent calc(50% + 2px)
  ), linear-gradient(
    to top right,
    transparent calc(50% - 2px),
    black,
    transparent calc(50% + 2px)
  );
}
