.chooseNextSquare {
  overflow: auto;
  border: solid black 3px;
}

.chooseNextSquare ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.chooseNextSquare ul li {
  padding: 5px 10px;
}

.chooseNextSquare ul li:nth-child(odd) { background: #eee; }

.chooseNextSquare ul li div {
  width: 100%;
  overflow-wrap: break-word;
}
