.first {
  float: left;
  width: 50%;
}

.last {
  float: right;
  width: 50%;
}

@media screen and (orientation: portrait) {.first, .last {width: 100%;}}

h2 {
  text-align: center;
}

#join {
  margin: 0 auto;
  display: block;
  text-align: center;
  font-family: 'Calibri', Fallback, sans-serif;
  background-color: #CC6600;
  color: white;
  font-size: 35px;
  font-weight: bold;
  padding: 14px 16px;
  text-decoration: none;
  transition-duration: 0.4s;
  border-radius: 6px;
  border-width: 0;
}

#join:hover {
  background-color: cornflowerblue;
}
