* {cursor: cell;}

body {
	background-color:#DCDCC4;
	font-family:calibri;
}

div {border-radius: 10px;}

img, button, a {cursor:pointer;}

#title {
	color:white;
	left-margin:auto;
  	right-margin:auto;
  	text-align:center;
}

.sometext {
	padding:25px;
	margin:auto;
	font-size: 18px;
}
