#popUps {
  position: fixed;
  height: 0;
  width: 0;
  left: 0;
  top: 0;
}

.popUp {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(220,220,196);
  background-color: rgba(0,0,0,0.4);
}

.popUp > div {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  z-index: 1;
}
