#keyBox {
  float: right;
  height: 50px;
  padding: 0 8px;
  display: flex;
  align-items: center;
  margin: 0 5px 15px;
}

#crewAssembled {
  float: right;
  display: block;
  text-align: center;
  font-family: calibri;
  background-color: #CC6600;
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 14px 16px;
  text-decoration: none;
  transition-duration: 0.4s;
  border-radius: 6px;
  border-width: 0;
  height: 50px;
  margin: 0 5px 15px;
}

#crewAssembled:hover {
  background-color: cornflowerblue;
}

#crewDiv {
  position: absolute;
  left: 0; right: 0; bottom: 0; top: auto;
  background: #fff;
}

#crewDiv ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#crewDiv ul li {
  padding: 5px 10px;
}

#crewDiv ul li:nth-child(odd) { background: #eee; }
