#keyBox {
  float: right;
  height: 50px;
  padding: 0 8px;
  display: flex;
  align-items: center;
  margin: 0 5px 15px;
}

#crewAssembled {
  float: right;
  display: block;
  text-align: center;
  font-family: calibri;
  background-color: #CC6600;
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 14px 16px;
  text-decoration: none;
  transition-duration: 0.4s;
  border-radius: 6px;
  border-width: 0;
  height: 50px;
  margin: 0 5px 15px;
}

#crewAssembled:hover {
  background-color: cornflowerblue;
}
